#outer-div {
    padding: 10px;
    background-color : gray;
    display: inline-block;
    border-radius : 15px;
}



button {
    background-color: green;
}

#bankButton{
    background-color: yellow;
}


#workButton{
    background-color: #4c4cdb;
}



img {
    height: 8em;
    width: 8em;
    border-radius: 1em;
    float: left;
}

.inner-div {
    border: 2px solid black;
    border-radius: 30px;
    background-color: gray;
    padding: 10px;
    float: left;
    margin-right: 30px;
    display: inline-block;
    width: 10em;
}

#laptops {
    text-align: center;
    width: 300px;
}

#laptops * {
    width: 20px;
}

select {
    width: 9em;
}

#laptopDescriptionInfoArea {
    display : inline-block;
    width: 80%;

}

#laptopNameH1 {
    display: inline-block;
    font-size : 1.8em;
}

#laptopInfoDiv {
    display: inline-block;
}

#laptopInfoDiv *{
    display: inline;
}

#second-row-div *{
display:block;
}

#first-row-div {
    display:block;
}